@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        
        <h1 class="display-4 mb-3">Welcome to the website</h1>
        
        <p class="lead">
            This is a simple ASP.NET Core Razor Pages application.
        </p>
    </div>
</div>